<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Comapatible" content="ie=edge">
	<!-- Bootstrap core CSS -->
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  	<!-- Custom fonts for this template -->
  	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  	<!-- Custom styles for this template -->
 	<link href="css/resume.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/orbit-1.css') }}">

	{% block head%}{% endblock %}
</head>
<body>

	{% block body%}{% endblock %}

</body>
</html>